---
import NoStories from "@components/story/NoStories.astro";
import StoriesHeader from "@components/story/StoriesHeader/StoriesHeaderIsland";
import StorySummaryGrid from "@components/story/summary/grid/StorySummaryGrid.astro";
import { isNonEmptyArray } from "@util/nonEmptyArray";

import Layout from "../../../layouts/AuthoringLayout.astro";

const user = Astro.locals.user;
if (!user?.id) {
  return Astro.redirect("/login");
}

const { repositoryStory, i18n } = Astro.locals.environment<
  App.WithStoryRepository & App.WithI18N
>();

let stories = await repositoryStory.getStorySummariesByAuthor(user.id);

if (!stories) {
  stories = {
    author: {
      id: user.id,
      name: user.name,
    },
    stories: [],
  };
}

const translations = i18n.getTranslationsForPage({
  locale: Astro.preferredLocale,
  page: "stories",
});

const thereIsAtLeastOneStory = isNonEmptyArray(stories.stories);
---

<Layout
  title={i18n.t("page.stories.meta.title")}
  description={i18n.t("page.stories.meta.description")}
>
  <main>
    <StoriesHeader
      author={stories.author}
      translations={translations}
      showCreateStory={thereIsAtLeastOneStory}
      client:only="react"
    />
    {
      thereIsAtLeastOneStory ? (
        <StorySummaryGrid stories={stories.stories} />
      ) : (
        <NoStories translations={translations} />
      )
    }
  </main>
</Layout>

<style>
  main {
    margin: 2rem auto;
    width: 1000px;
  }
</style>
